<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name=".ActualizarDatosActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarRutaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarListaActivity"
            android:exported="false" />
        <activity
            android:name=".PermitirUsuario"
            android:exported="false" />
        <activity
            android:name=".ValeDirecciones"
            android:exported="false" />
        <activity
            android:name=".AutoComppleteActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".FirmaActivity"
            android:exported="false" />
        <activity
            android:name=".PasajeroActivity"
            android:exported="false" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AccountRecoveryActivity"
            android:exported="false" />
        <activity
            android:name=".ValesActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DesactivarCuentaActivity"
            android:exported="false"
            android:label="@string/title_activity_delete_account"/>
<!--            android:theme="@style/NoActionBar"-->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CrearValeEmpresaActivity"
            android:exported="false" />

        <meta-data
            android:name="api_key"
            android:value="@string/MAPS_API_KEY" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>